/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/common/Logout/logout.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.delete_event_main{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.delete_event_box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.delete_event_ques{
    font-size: 18px;
    margin: 30px 0px;
}

.delete_event_bttns{
    padding: 5px 0px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.delete_event_yes{
    background-color: #F93C65;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    width: 60px;
    height: 30px;
}

.delete_event_no{
    background-color: #000000;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    width: 60px;
    height: 30px;
}


/* Success messsage */
.uni_events_add_success_tick{
    background-color: #59d603;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 40px;
    color: #fff;
}

.uni_events_error{
    font-size: 18px;
    font-weight: 500;
    color: #606060;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/common/Loader/loader-overlay.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.pendulum_box{
  display: flex;
  position: absolute;
  flex: 1;
}
.ball{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #6689ff;
  position: relative;
  transform-origin: 50% -300%;
}

.ball.first{
  animation: firstball .9s alternate ease-in infinite;
}

@keyframes firstball{
  0%{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

.ball.last{
  animation: lastball .9s alternate ease-out infinite;
}

@keyframes lastball{
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-35deg);
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/common/Header/header.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.mobile-header-element:hover {
    background-color: #c3d1ff;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/products/variants.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.products_main {
  display: grid;
}


@media (max-width: 735px) {
  .products_main{
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
  }
}

@media (min-width: 736px) and (max-width: 1034px) {
  .products_main{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1035px) and (max-width: 1315px ) {
  .products_main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1315px) {
  .products_main {
    grid-template-columns: repeat(4, 1fr);
  }
}

